# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
serviceAccountKey.json
*.json
!package.json
!package-lock.json
!tsconfig.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/

FirebaseSDK.txt
firebase-service-account.json
LOG_Changes.md